*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#020617;
color:white;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#020617;
border-bottom:1px solid #1e293b;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-weight:700;
font-size:20px;
letter-spacing:2px;
}

.cart-icon{
cursor:pointer;
font-size:18px;
background:#0f172a;
padding:10px 16px;
border-radius:10px;
}

/* PAGE */
.container{
max-width:1100px;
margin:auto;
padding:40px;
}

.subtitle{
color:#94a3b8;
margin-bottom:30px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.product-img{
width:100%;
height:180px;
object-fit:cover;
border-radius:10px;
margin-bottom:12px;
}

.desc{
font-size:13px;
color:#94a3b8;
margin-bottom:6px;
}

.hero{
text-align:center;
padding:40px 20px 10px;
}

.note{
font-size:12px;
color:#94a3b8;
margin-top:8px;
}

.card{
background:#0f172a;
padding:20px;
border-radius:14px;
border:1px solid #1e293b;
transition:.3s;
}

.card:hover{
transform:translateY(-6px);
border-color:#38bdf8;
}

.price{
color:#38bdf8;
margin:10px 0;
}

input[type="number"]{
width:70px;
padding:8px;
border:none;
border-radius:6px;
margin-right:10px;
}

button{
background:#38bdf8;
border:none;
padding:10px 14px;
border-radius:8px;
cursor:pointer;
font-weight:600;
}

button:hover{
background:#0ea5e9;
}

.qty-control{
display:flex;
align-items:center;
gap:12px;
margin-top:12px;
}

.qty-control button{
background:#0ea5e9;
border:none;
width:32px;
height:32px;
border-radius:6px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

.qty-control span{
font-size:18px;
min-width:20px;
text-align:center;
}


/* CART SIDEBAR */
.cart-sidebar{
position:fixed;
right:-400px;
top:0;
width:400px;
height:100%;
background:#020617;
border-left:1px solid #1e293b;
padding:20px;
transition:.4s ease;
z-index:2000;
overflow-y:auto;
}

.cart-sidebar.active{
right:0;
}

.cart-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.cart-header button{
background:red;
padding:6px 10px;
border-radius:6px;
}

.cart-item{
margin-bottom:8px;
color:#cbd5e1;
}

.cart-total{
margin-top:20px;
font-size:20px;
font-weight:600;
}

.checkout-form{
margin-top:20px;
display:grid;
gap:10px;
}

.checkout-form input{
padding:12px;
border-radius:8px;
border:none;
}

.checkout-btn{
background:#22c55e;
margin-top:10px;
}

.checkout-btn:hover{
background:#16a34a;
}
