* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
 font-family: 'poppins', sans-serif;
  background-image: url("pics/red.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digitalcard {
  background-color: rgb(228, 228, 255);
  width: 50%;
  height: 100vh;
  padding: 20px;
  margin: 20px auto;
 border: 1px solid rgb(173, 173, 238);
 overflow-y: auto;
  border-radius: 10px;


}

.disgitalcardcontent {
 max-width: 800px;
 height: auto;
 margin: 20px auto;
 display: flex;
 justify-content: center;
}

.cardimg{
background-image: url("pics/myredlogo.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
  height: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;

}


.cardimg img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.carddetails h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
     font-family: 'classy vogue', serif;

}

.carddetails p {
font-size:13px;
color: gray;
text-align: center;
line-height: 1.6;
}

.cardlink a{
display: block;
padding: 10px;
border: 1px solid red;
margin-top: 20px;
color: rgb(255, 255, 255);
text-align: center;
background-color: rgb(192, 6, 6);
border-radius: 10px;
text-decoration: none;

}

